@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@100;200;300&display=swap');
.item{
    margin-top: 30px;
    margin-bottom: 20px;
}
.item li{
    list-style: none;
    display: inline;
    padding-right: 10px;
    font-size: 33px;
    color: #777777;
}
.item-box{
    border-width: 20px;
    border-color: black;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: aqua;
    display: block;
}